node_modules
.gitignore
.gitignore
build/asset-manifest.json
build/favicon.ico
build/index.html
build/logo192.png
build/logo512.png
build/manifest.json
build/robots.txt
build/static/css/main.ea1455b2.chunk.css
build/static/css/main.ea1455b2.chunk.css.map
build/static/js/2.c6c5c4be.chunk.js
build/static/js/2.c6c5c4be.chunk.js.LICENSE.txt
build/static/js/2.c6c5c4be.chunk.js.map
build/static/js/3.98918d58.chunk.js
build/static/js/3.98918d58.chunk.js.map
build/static/js/main.666b5252.chunk.js
build/static/js/main.666b5252.chunk.js.map
build/static/js/runtime-main.c024a1ea.js
build/static/js/runtime-main.c024a1ea.js.map
build/static/media/morty.fc6030c8.png
build/static/media/rick.ddf093bf.png
