.header{
    background-color: #D9b48FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.img-morty{
    width: 7%;
}
.img-rick{
    width: 8%;
}
